* {
    border: 0px;
    margin: 0%;
    font-family: Courgette, cursive;
}

.container {
    grid-gap: 20px;
    padding-top: 5em;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(50px, auto);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#watermark1
{
 position:fixed;
 bottom:22px;
 right:3em;
 opacity:0.5;
 z-index:99;
 color:white;
}
#watermark2
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;
}
#watermark3{
    position: fixed;
    bottom: 5px;
    left: 0px;
    margin-left:0 ;
    z-index: 98;
    opacity:0.6;
    height: 36px;
    width: 38px;
}
#watermark3:hover{
    opacity: 1;
}
.Rcontainer{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-template-columns: repeat(2, 1fr);
    padding:2em 2em 2.5em 2em;
    gap:2em 2em ;
}


iframe{
    width: 410px;
    height: 230px;
}

.home{
    width: 1cm;
    height: 1cm;
    float: left;
    padding: 8px 8px 8px 8px;
}

a {
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: rgb(255, 0, 0);
  }

body {
    background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sub {
    font-family: Courgette;
}
body{
    cursor: context-menu;
}

.items {
    color: rgb(0, 68, 255);
    text-shadow: 0.8px 0.8px #ffffff;
    border: .5mm solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: 10px;
    font-size: 2em;
    text-align: center;
    background-color: teal;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 55px;
    /* text-shadow: gold; */
    background-image: url(boxbg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 1px rgb(64, 64, 68) ;

    /* background-size: contain; */
}

h1 {
    font-family: Shizuru;
    text-align: center;
    font-size: 35px;
    /* text-decoration:underline; */
    color: white;
}

#sec1 {
    padding: 10px 10px 10px 10px;
    border-bottom: .15cm;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgba(0, 7, 128, 1) 99.8%);
    border: .07cm;
    border-style: solid;
    border-radius: 5px;
    /* border-color: rgb(0, 0, 0); */
    box-shadow: 1px 1px rgb(64, 64, 68) ;
    margin-top: 0px;
    margin-left: .8px;
    margin-right: 1px;
}

.books {
    background-image: url(book.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#done{
    text-decoration: line-through;
}

ol {
    padding-top: 35px;
    line-height: 2;
    font-weight: lighter;
    margin-left: 20px;
    font-size: 30px;
}
@media screen and (max-width:925px) and (min-width:740px){
    *{  
        font-size:0.9em ;
    }
    .items{
        height: 0.9em;
        padding-top: 1.8em;

    }
}
@media screen and (max-width:740px) and (min-width:650px){
    *{  
        font-size:0.9em ;
    }
    .items{
        height: 0.8em;
        padding-top: 1.8em;

    }
}
@media screen and (max-width:650px) and (min-width:600px){
    *{  
        font-size:0.9em ;
    }
    .items{
        height: 0.7em;
        padding-top: 1.8em;

    }
}
@media screen and (max-width:600px) and (min-width:300px){
    *{  
        font-size:.95em ;
    }
    .items{
        height: 0.9em;
        padding-top: 1.8em;

    }
    .container{
        display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-template-columns: repeat(1 , 1fr);
    padding:2em 2em 2.5em 2em;
    gap:2em 2em ;
    }
    
}
@media screen and (max-width:850px) and (min-width:444px){
    .Rcontainer{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-auto-columns: minmax(50px, auto);
        padding:3em 2em 2.5em 2em;
        grid-template-columns: repeat(1, 1fr);
        gap:2em 2em ;
    }
    
    
    
}
@media screen and (max-width:443px) and (min-width:200px){
    .Rcontainer{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-auto-columns: minmax(50px, auto);
        padding:2em 2em 2.5em 2em;
        grid-template-columns: repeat(1, 1fr);
        gap:2em 2em ;
    }
    iframe{
        width: fit-content;
        height: fit-content;
    }
    #RC{
        font-size: 30px;
    }
    .home{
        height: 0.9cm;
        width: 0.9cm;
    }
    ol{
        padding-left: 18px;
        font-size: 1.7em;
    }
    #watermark3{
        height: 28px;
        width: 32px;
    }
    
}